<label>ServerName</label>
<input type="text" class="formControl"
	(input)="onUpdateServerName( $event )">
<input type="text" class="formControl" [(ngModel)]="serverName">
<!-- <p>{{ serverName }}</p> -->
<button class="btn btn-primary" [disabled]="!allowNewServer"
	(click)="onCreatServers()">Add Server</button>
<!-- <p>{{ serverCreationStatus }}</p> -->
<p *ngIf="serverCreated ; else noServer">Server was created , Name
	is {{ serverName }}</p>
<ng-template #noServer>
<p>No server was created!</p>
</ng-template>
<app-server *ngFor="let server of servers "></app-server>

